<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
<div class="user">
    <div class="user_l">
        <div class="user_info">
            <dl>
                <dt><a href="/myinfo/infoUpdate"><img onerror="this.src='/image/user.png';" src="https://img5.sofang.com" alt=""></a></dt>
                <dd>
                    <p class="p1">欢迎您</p>
                    <p class="p2">183****7995</p>
                </dd>
            </dl>
        </div>
        <div class="user_menu">
            <ul>
                <li  class="click" ><a href="/user/interCommunity/xinF">关注的楼盘</a></li>
                <li ><a href="/user/interHouse/xqsale">关注的房源</a></li>
                <li ><a href="/userEntrust/Qz">委托房源</a></li>
                <li ><a href="/user/personalHouse">个人房源</a></li>
                <li ><a href="/myinfo/infoUpdate">编辑资料</a></li>
                <li ><a href="/myinfo/passwdUpdate">账户设置</a></li>
                <li ><a href="/myinfo/userChangeBroekr">转经纪人</a></li>
                <li ><a href="/myinfo/message">系统消息 </a></li>
            </ul>
        </div>
    </div>
    <style>
        .numTip{
            background-color: red;
            width: 20px;
            display: inline-block;
            height: 15px;
            color: white;
            border-radius: 5px;
            text-align: center;
            line-height: 15px;
        }

    </style>  <div class="user_r">
    <p class="subnav">
        <span class="click" href="/user/interCommunity/xinF">新盘</span>
        <a href="/user/interCommunity/esF">小区</a>
    </p>
    <div class="data_list">
        <div class="no_data">
            <div class="no_icon"></div>
            <div class="no_info">
                <p class="p1"><span>亲</span>，您暂无关注任何新盘，关注新盘，可及时了解新盘信息！</p>
                <p>去<a href="/new/area">关注新楼盘</a></p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
